models/*.o
models/*.dll
.Rproj.user
results/spatial_pvals
results/spatial_resids
results/spatial_mles
results/randomwalk_pvals
results/randomwalk_resids
results/randomwalk_mles
results/simpleGLMM_pvals
results/simpleGLMM_resids
results/simpleGLMM_mles
results/linmod_pvals
results/linmod_resids
results/linmod_mles